.image-section {
  width: 100%;
  position: relative;
  color: white;
}

.image-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5f656d;
}

.image-section .cover {
  object-fit: cover;
}

.image-section .content {
  z-index: 1;
  position: relative;
}
