@import 'mixins';

:root {
  --heading-font-family: 'Roboto', sans-serif;
  --base-color: #27509B;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font-family);
}

h1, h2 {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}
p {
  display: block;
  margin-block-start: 1__qem;
  margin-block-end: 1__qem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
div {
  display: block
}
article, aside, footer, header, hgroup, main, nav, section {
  display: block
}
marquee {
  display: inline-block;
  width: -webkit-fill-available;
}
address {
  display: block
}
blockquote {
  display: block;
  margin-block-start: 1__qem;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
figcaption {
  display: block
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
q {
  display: inline
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
center {
  display: block;
  /* special centering to be able to emulate the html4/netscape behaviour */
  text-align: -webkit-center
}
hr {
  display: block;
  overflow: hidden;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: inset;
  border-width: 1px
}
/* heading elements */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67__qem;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83__qem;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1__qem;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
h4 {
  display: block;
  margin-block-start: 1.33__qem;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
h5 {
  display: block;
  font-size: .83em;
  margin-block-start: 1.67__qem;
  margin-block-end: 1.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
h6 {
  display: block;
  font-size: .67em;
  margin-block-start: 2.33__qem;
  margin-block-end: 2.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}
/* tables */
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  box-sizing: border-box;
  text-indent: initial
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit
}
tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit
}

caption {
  display: table-caption;
  text-align: -webkit-center
}
/* lists */
ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1__qem;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1__qem;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul ul, ol ul {
  list-style-type: circle
}
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
  list-style-type: square
}
dd {
  display: block;
  margin-inline-start: 40px
}
dl {
  display: block;
  margin-block-start: 1__qem;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
dt {
  display: block
}
ol ul, ul ol, ul ul, ol ol {
  margin-block-start: 0;
  margin-block-end: 0
}
/* https://html.spec.whatwg.org/multipage/rendering.html#hidden-elements */
/* TODO(crbug.com/1231263): <area> should be display:none. */
area {
  display: inline;
}
base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, style, template, title {
  display: none;
}
/* inline elements */
u, ins {
  text-decoration: underline
}
abbr[title], acronym[title] {
  text-decoration: dotted underline;
}
strong, b {
  font-weight: bold
}
i, cite, em, var, address, dfn {
  font-style: italic
}
tt, code, kbd, samp {
  font-family: monospace
}
pre, xmp, plaintext, listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1__qem 0
}















.nav-open .wrapper {
  left: 0;
  @include transform-translate-x(-230px);
}

.wrapper .navbar-collapse {
  display: none;
}

.wrapper {
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
  background-color: white;
}

.burger-menu .wrapper {
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
  background-color: white;
}

.nav-open .burger-menu .wrapper {
  left: 0;
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}

.nav-open {
  & .navbar-collapse {
    @include transform-translate-x(0px);
    display: block;
  }

  & .wrapper {
    left: 0;
    @include transform-translate-x(-230px);
  }

  & .navbar-translate {
    @include transform-translate-x(-230px);
  }

}

.wrapper .navbar-collapse {
  display: none;
}

.wrapper {
  //    @include transform-translate-x(0px);
  @include transition(0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  left: 0;
  background-color: white;
}

.section-dark {
  position: relative;
  background-color: #0b1011;
}

.section-image,
.section-gold,
.section-dark {
  position: relative;
}

.section-image .category,
.section-image .description,
.section-image .card-plain .card-description,
.section-image .card-plain .card-category,
.section-gold .category,
.section-gold .description,
.section-gold .card-plain .card-description,
.section-gold .card-plain .card-category,
.section-dark .category,
.section-dark .description,
.section-dark .card-plain .card-description,
.section-dark .card-plain .card-category {
  color: rgba(255, 255, 255, 0.7);
}

.section-image hr,
.section-gold hr,
.section-dark hr {
  border-color: rgba(255, 255, 255, 0.19);
}

.section-dark .card-profile.card-plain .card-description {
  color: rgba(255, 255, 255, 0.7);
}

.section-dark .icons-container {
  color: #FFFFFF;
}

.page-header.section-dark .content-center,
.page-header.section-dark .category-absolute {
  z-index: 1;
}

.animation-transition-fast, .btn-hover, .dropdown-menu .dropdown-item, .filter, .tagsinput .tag, .tagsinput-remove-link, [data-toggle=collapse] i {
  transition: all .15s linear;
}

.page-header.section-dark .category-absolute, .page-header.section-dark .content-center {
  z-index: 1;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.page-header {
  background-color: #b2afab;
  background-position: 50%;
  background-size: cover;
  //min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.page-header .filter:after {
  background-color: rgba(255, 255, 255, .75);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  display: block;
}

.presentation-subtitle {
  color: #fff;
}

h1.presentation-title {
  color: var(--base-color);
}

.MuiContainer-root img[alt=Example] {
  width: 100%;
}

blockquote {
  position: relative;
  max-width: 100%;
  padding: 0.5rem 1rem;
  line-height: 1.7;
  font-size: 1.1em;
  color: #666;
  background: #fff;
  border-left: 6px solid var(--base-color);
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  thead tr {
    background-color: var(--base-color);
    color: #ffffff;
    text-align: left;
  }
  th, td {
    padding: 12px 15px;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  tbody tr:last-of-type {
    border-bottom: 2px solid var(--base-color);
  }
  tbody tr.active-row {
    font-weight: bold;
    color: var(--base-color);
  }
}
iframe{
  box-shadow: none !important;
  width: 100%;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  overflow: clip !important;
  border-width: 0px;
  height: 500px;
  min-height: 0px;
  overflow: auto;
  opacity: 1;
  z-index: 1;
  background-color: white;
  user-select: initial;
  pointer-events: initial;
}

a {
  text-decoration: none;
}
.cover {
  object-fit: cover;
}
